<h4>User Registration Example</h4>

<form [formGroup]="form" class="d-flex flex-column ">

    <mat-form-field>
        <mat-label>
            First Name
        </mat-label>
        <input
        matInput
        type="text"
        formControlName="givenName"/>
        @if(form.get('givenName').invalid && form.get('givenName').touched){
            <mat-error>First Name is Required</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            SurName
        </mat-label>
        <input
        matInput
        type="text"
        formControlName="givenName"/>
        @if(form.get('surName').invalid && form.get('surName').touched){
            <mat-error>SurName is Required</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Email
        </mat-label>
        <input
        matInput
        type="text"
        formControlName="email"/>
        @if(form.get('email').invalid && form.get('email').touched){
            <mat-error>Email is Required</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Password
        </mat-label>
        <input
        matInput
        type="password"
        formControlName="email"/>
        @if(form.get('password').invalid && form.get('password').touched){
            <mat-error>Password is missing or invalid</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Password
        </mat-label>
        <input
        matInput
        type="password"
        formControlName="ConfirmPassword"/>
       <!--  @if (form.get("confirmPassword").hasError("passwordMismatch"))
        @if(form.get('confirmPassword').invalid && form.get('confirmPassword').touched){
            <mat-error>Passwords do not match</mat-error>
        } -->
    </mat-form-field>
    <button
    
    mat-flat-button
    color="primary"
    [disabled] = "form.invalid"
    (click)="onSubmit(form.value)">
       Register 
    </button>
</form>
